<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="huawei-nuget" value="https://repo.huaweicloud.com/repository/nuget/v3/index.json" />
    <add key="local-nuget" value="local-nuget" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="packages" />
  </config>
</configuration>
