<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="huawei" value="https://mirrors.huaweicloud.com/repository/nuget/v3/index.json" />
    <add key="matrix" value="https://nexus.vmatrix.org.cn/repository/nuget-hosted" />
  </packageSources>
</configuration>
