<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:iot2="http://schemas.microsoft.com/appx/manifest/iot/windows10/2"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="41790vmatrix.MatrixUWP"
    Publisher="CN=CB744060-7B89-4630-9B34-944A7035EC99"
    Version="0.0.9.0" />

  <mp:PhoneIdentity PhoneProductId="6a7a5280-10c1-4564-9a8a-19a008c3ee9a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Matrix UWP</DisplayName>
    <PublisherDisplayName>vmatrix</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="MatrixUWP.App">
      <uap:VisualElements
        DisplayName="Matrix UWP"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="UWP Client for Matrix"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badge"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="landscapeFlipped"/>
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" Executable="$targetnametoken$.exe" EntryPoint="MatrixUWP.BackgroundService.Tasks.NotificationBackgroundTask">
          <BackgroundTasks>
            <Task Type="controlChannel"/>
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" Executable="$targetnametoken$.exe" EntryPoint="MatrixUWP.BackgroundService.Tasks.WebSocketKeepAliveTask">
          <BackgroundTasks>
            <Task Type="controlChannel" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="privateNetworkClientServer"/>
    <Capability Name="internetClient"/>
  </Capabilities>

</Package>